@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: poppins;
}

main{
    /* background-image: url(/img/background.jfif); */
    background-color: rgb(19, 19, 19);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

nav{
    background-color: transparent;
    height: 100px;
}

nav .fa-pen{
    display: none;
}

.img1{
    width: 300px;
    margin-left: 680px;
    margin-top: -5px;
    position: absolute;
    opacity: 90%;
    cursor: -webkit-grab;
    text-align: center;
}

.who{
    position: absolute;
    color: white;
    margin-left: 680px;
    margin-top: 130px;
    cursor: pointer;
}

.img2{
    float: right;
    margin-right: 1020px;
    margin-top: 200px;
    cursor: not-allowed;
}

.img2:hover{
    transition: 0.3s;
    opacity: 70%;
    width: 125px;
}

.img3{
    float: right;
    margin-right: 340px;
    margin-top: -125px;
    cursor: not-allowed;
}

.img3:hover{
    transition: 0.3s;
    opacity: 70%;
    width: 125px;
}

.img4{
    float: right;
    margin-top: -125px;
    margin-right: 475px;
    cursor: not-allowed;
}

.img4:hover{
    transition: 0.3s;
    opacity: 70%;
    width: 125px;
}

.img5{
    float: right;
    margin-top: -125px;
    margin-right: 610px;
    cursor: not-allowed;
}

.img5:hover{
    transition: 0.3s;
    opacity: 70%;
    width: 125px;
}

.img6{
    float: right;
    margin-top: -125px;
    margin-right: 745px;
}

.img6:hover{
    transition: 0.3s;
    opacity: 70%;
    width: 125px;
}

.img7{
    float: right;
    margin-top: -125px;
    margin-right: 885px;
    cursor: not-allowed;
}

.img7:hover{
    transition: 0.3s;
    opacity: 70%;
    width: 125px;
}

/* name nila */

.patricia{
    color: white;
    display: flex;
    margin-left: 610px;
    margin-top: -150px;
    font-size: 20px;
}

.tabibee{
    color: white;
    display: flex;
    margin-left: 750px;
    margin-top: -40px;
    font-size: 20px;
}

.keith{
    color: white;
    display: flex;
    margin-left: 1162px;
    margin-top: -40px;
    font-size: 20px;
}

.lj{
    color: white;
    display: flex;
    font-size: 20px;
    margin-left: 1040px;
    margin-top: -30px;
}

.nelpie{
    color: white;
    display: flex;
    font-size: 20px;
    margin-left: 900px;
    margin-top: -30px;
}

.adrian{
    color: white;
    display: flex;
    font-size: 20px;
    margin-left: 490px;
    margin-top: -30px;
}



.manage .overlay{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
    border-radius: 1rem;
}

.manage .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) ;
    width: 950px;
    height: 600px;
    z-index: 2;
    /* background-color: #333; */
    background-image: url(/background.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 1rem;
}

.manage .close-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background-color: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.manage .close-btn:hover{
    background-color: red;
    transition: 0.5s;
    cursor: pointer;
}

.manage.active .overlay{
    display: block;
}

.manage.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1) ;

}

.button_manage{
    color: grey;
    background-color: transparent;
    border: grey solid 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 700px;
}

.button_manage:hover{
    color: grey;
    background-color: white;
    transition: 1s;
}

/* inside the box */

.inside-photo{
    margin-left: -750px;
    width: 150px;
    height: 150px;
    border-radius: 0.5rem;
}

.inside-name{
    color: white;
    font-size: 30px;
    margin-top: -150px;
    margin-left: -450px;
}

.inside-name2{
    color: white;
    font-size: 15px;
    margin-left: -350px;
}

.search{
    outline: none;
    margin-left: 20px;
    padding: 10px;
    border: none;
    border-radius: 0.5rem;
    margin-top: 170px;
}   

.entere{
    color: white;
    text-shadow: 4px 4px 8px black;
    margin-top: -23px;
    margin-right: 265px;
}

.enterp{
    color: white;
    text-shadow: 4px 4px 8px black;
    margin-top: -75px;
    margin-right: -220px;
}

.sheesh{
    color: black;
    text-decoration: none;
    margin-left: 100px;
    float: right;
    margin-top: 320px;
    padding-left: 10px;
    padding-right: 10px;
    animation-name: sendanimation;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.sheesh:hover{
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.5s;
    border-radius: 0.5rem;
}

@keyframes sendanimation{
    from{
        left: 0%;
        color: white;
    }
    to{
        left: 0%;
        color: black;
    }
}

@media screen and (max-width: 1440px) {
    main{
        background-color: black;
        height: 100vh;
        width: 100vw;
    }

    nav{
        background-color: transparent;
        height: 100px;
    }

    nav .fa-pen{
        display: none;
    }

    .who{
        color: white;
        margin-left: 620px;
    }

    .img1{
        margin-left: 610px;
    }

    .img2{
        float: right;
        width: 125px;
        margin-right: 1000px;
        margin-top: 200px;
    }

    .img3{
        float: right;
        width: 125px;
        margin-right: -880px;
        margin-top: 200px;
    }
    .img4{
        float: right;
        width: 125px;
        margin-right: -730px;
        margin-top: 200px;
    }
    .img5{
        float: right;
        width: 125px;
        margin-right: -580px;
        margin-top: 200px;
    }
    .img6{
        float: right;
        width: 125px;
        margin-right: -430px;
        margin-top: 200px;
    }
    .img7{
        float: right;
        width: 125px;
        margin-right: -280px;
        margin-top: 200px;
    }

        /*  names  */
        .patricia{
            color: white;
            display: flex;
            margin-left: 500px;
            margin-top: -150px;
            font-size: 20px;
        }
        
        .tabibee{
            color: white;
            display: flex;
            margin-left: 655px;
            margin-top: -40px;
            font-size: 20px;
        }
        
        .keith{
            color: white;
            display: flex;
            margin-left: 1110px;
            margin-top: -40px;
            font-size: 20px;
        }
        
        .lj{
            color: white;
            display: flex;
            font-size: 20px;
            margin-left: 970px;
            margin-top: -30px;
        }
        
        .nelpie{
            color: white;
            display: flex;
            font-size: 20px;
            margin-left: 800px;
            margin-top: -30px;
        }
        
        .adrian{
            color: white;
            display: flex;
            font-size: 20px;
            margin-left: 350px;
            margin-top: -30px;
        }

        .button_manage{
            margin-left: 650px;
        }

}


@media screen and (max-width: 1200px) {
    main{
        background-color: black;
        width: 500px;
    }

    nav{
        background-color: transparent;
        height: 100px;
    }

    nav .fa-pen{
        display: none;
    }

    .who{
        color: white;
        margin-left: 460px;
    }

    .img1{
        margin-left: 450px;
        width: 300px;
        margin-top: 10px;
    }

    .img2{
        float: right;
        width: 125px;
        margin-right: 900px;
    }

    .img3{
        float: right;
        width: 125px;
        margin-right: 150px;
    }

    .img4{
        float: right;
        width: 125px;
        margin-right: 300px;
    }

    .img5{
        float: right;
        width: 125px;
        margin-right: 450px;
    }

    .img6{
        float: right;
        width: 125px;
        margin-right: 600px;
    }

    .img7{
        float: right;
        width: 125px;
        margin-right: 750px;
    }

    /*  names  */
    .patricia{
        color: white;
        display: flex;
        margin-left: 350px;
        margin-top: -150px;
        font-size: 20px;
    }
    
    .tabibee{
        color: white;
        display: flex;
        margin-left: 500px;
        margin-top: -40px;
        font-size: 20px;
    }
    
    .keith{
        color: white;
        display: flex;
        margin-left: 960px;
        margin-top: -40px;
        font-size: 20px;
    }
    
    .lj{
        color: white;
        display: flex;
        font-size: 20px;
        margin-left: 830px;
        margin-top: -30px;
    }
    
    .nelpie{
        color: white;
        display: flex;
        font-size: 20px;
        margin-left: 655px;
        margin-top: -30px;
    }
    
    .adrian{
        color: white;
        display: flex;
        font-size: 20px;
        margin-left: 205px;
        margin-top: -30px;
    }

    .button_manage{
        margin-left: 500px;
    }

    
}

@media screen and (max-width: 500px) {

    main{
        color: black;
        background-color: rgb(7, 7, 7);
        /* background-image: url(/img/background.jfif);
        background-repeat: no-repeat;
        background-size: cover; */
        width: 110%;
        height: 800px;
    }

    nav .fa-pen{
        color: white;
        display: flex;
        font-size: 20px;
        float: right;
        padding: 15px;
        margin-right: 40px;
    }

    nav .fa-pen:hover{
        color: red;
        transition: 1s;
    }

    /*  MANAGE INSIDE  */

    .manage .overlay{
        position: fixed;
        top: 0%;
        left: 0%;
        width: 500px;
        height: 700px;
        background: rgba(0, 0, 0, 0.7);
        z-index: 1;
        display: none;
        border-radius: 1rem;
    }
    
    .manage .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0) ;
        width: 300px;
        height: 500px;
        z-index: 2;
        /* background-color: #333; */
        background-image: url(background.jfif);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 1rem;
    }
    
    .manage .close-btn{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        background-color: #222;
        color: #fff;
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
    }
    
    .manage .close-btn:hover{
        background-color: red;
        transition: 0.5s;
        cursor: pointer;
    }
    
    .manage.active .overlay{
        display: block;
    }
    
    .manage.active .content{
        transition: all 300ms ease-in-out;
        transform: translate(-50%, -50%) scale(1) ;
    
    }

    .button_manage{
        margin-left: 55px;
    }
    
    .button_manage:hover{
        transition: 0.5;
        color: black;
        background-color: white;

    }

    .inside-photo{
        width: 100px;
        height: 100px;
        margin-left: -150px;
        border-radius: 0.5rem;
    }
    
    .inside-name{
        color: white;
        text-shadow: 2px 2px 4px black;
        font-size: 25px;
        margin-top: -100px;
        margin-left: 90px;
    }
    
    .inside-name2{
        color: red;
        text-shadow: 2px 2px 4px black;
        font-size: 10px;
        margin-top: 10px;
        margin-left: 120px;
    }
    
    .search{
        font-size: 6px;
        margin-top: 70px;
    }   
    
    .entere{
        color: white;
        text-shadow: 4px 4px 8px black;
        font-size: 7px;
        margin-top: -10px;
        margin-right: 140px;
    }
    
    .enterp{
        color: white;
        text-shadow: 4px 4px 8px black;
        font-size: 7px;
        margin-top: -45px;
        margin-right: -130px;
    }

    .sheesh{
        margin-top: 300px;
        font-size: 10px;
    }

    /* imgs */
    .img1{
        margin-left: 80px;
        width: 190px;
    }

    .who{
        margin-left: 110px;
        margin-top: -10px;
        font-size: 15px;
        position: absolute;
    }

    .img2{
        margin-right: 240px;
        margin-top: 50px;
        width: 110px;
    }

    .img3{
        margin-right: 100px;
        width: 110px;
        margin-top: -112px;
        width: 110px;
    }

    .img4{
        margin-right: 240px;
        width: 110px;
        margin-top: 50px;
        width: 110px;
    }

    .img5{
        margin-right: 100px;
        width: 110px;
        margin-top: -110px;
        width: 110px;
    }

    .img6{
        margin-right: 240px;
        width: 110px;
        margin-top: 50px;
        width: 110px;
    }

    .img7{
        margin-right: 100px;
        width: 110px;
        margin-top: -110px;
        width: 110px;
    }

    /* img hover */

    .img2:hover{
        width: 110px;
        border: none;
        transition: 0.3;
        opacity: 100%;
    }

    .img3:hover{
        border: none;
        width: 110px;
        transition: 0.3;
        opacity: 100%;
    }

    .img4:hover{
        border: none;
        width: 110px;
        transition: 0.3;
        opacity: 100%;
    }

    .img5:hover{
        border: none;
        width: 110px;
        transition: 0.3;
        opacity: 100%;
    }

    .img6:hover{
        border: none;
        width: 110px;
    }

    .img7:hover{
        border: none;
        width: 110px;
        transition: 0.3;
        opacity: 100%;
    }

    /* name nila */

    .adrian{
        float: right;
        margin-right: 265px;
        margin-top: -460px;
        font-size: 15px;
    }

    .patricia{
        float: right;
        margin-right: 130px;
        margin-top: -140px;
        font-size: 15px;
    }

    .tabibee{
        float: right;
        margin-right: 265px;
        margin-top: -140px;
        font-size: 15px;
    }

    .nelpie{
        float: right;
        margin-right: 135px;
        margin-top: -300px;
        font-size: 15px;
    }
    
    .lj{
        float: right;
        margin-right: 285px;
        margin-top: -300px;
        font-size: 15px;
    }

    .keith{
        float: right;
        margin-right: 135px;
        margin-top: -460px;
        font-size: 15px;
    }

}

